spring:
  application.name: momo-data-service
  datasource:
    url: jdbc:mysql://localhost:3306/momo?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
  jpa:
    show-sql: true
    properties:
      hibernate:
        generate_statistics: false
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
  main:
    allow-circular-references: true


  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher